{% extends 'usuario/profile/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Foroverlow
{% endblock %}

{% block username %}
    {{ user.username }}
{% endblock %}

{% block autenticacion %}
    <a class="dropdown-item" href="{% url 'user-profile' user %}">Profile</a>
{% endblock %}

{% block content %}

    <h2 class="border-bottom mx-5 titulo">{{ requested_user }}'s Profile</h2>

    <!-- CONTAINER -->
    <div class="container-md mx-5 mt-3">
        <div class="row justify-content-between">
            <!-- NAV FOR EDITING INFO AND VIEWING USER POSTS -->
            <div class="col mt-2">

                <!-- UPDATE ALERT -->
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}
                {% endif %}

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="posts" aria-selected="true">Posts</a>
                    </li>
                    {% if requested_user.username == user.username %}
                        <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Edit Profile</a>
                        </li>
                    {% endif %}
                </ul>
                <!-- CONTENTS -->
                <div class="tab-content pt-4 pr-5 mr-5 .formulario" id="myTabContent">
                <!-- NAV CONTENT 1 POSTS -->
                    <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
                        {% for post in posts %}
                            <article class="media content-section">
                            <img class="rounded-circle article-img" src="{{ post.id_foro.foto_foro.url }}">
                            <div class="media-body">
                                <div class="container article-metadata">
                                    <div class="row">
                                        <div class="col-md-auto p-0">
                                            <a class="" href="{% url 'forum' forum=post.id_foro%}"> f/{{ post.id_foro }}</a>
                                        </div>
                                        <div class="col-md-auto p-0">
                                            <span class="dot mx-1">
                                                •
                                            </span>
                                        </div>
                                        <div class="col-md-auto p-0">
                                            Posted by 
                                        </div>
                                        <div class="col-md-auto p-0">
                                            <a class="ml-1" href="#">u/{{ post.id_usuario }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-fluid">
                                        <h2><a class="article-title" href="{% url 'post-detail' forum=post.id_foro id=post.pk %}">{{ post.title }}</a></h2>
                                    </div>
                                    <div class="col col-sm-auto">
                                        {% if  user == post.id_usuario %}
                                        <a href="{% url 'edit-post' forum=post.id_foro id=post.pk %}" class="btn btn-primary">
                                            <svg class="bi bi-pencil-square mt-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <p class="article-content">{{ post.content|truncatewords:30 }}</p>
                            </div>
                            </article>
                        {% endfor %}
                    </div>
                <!-- NAV CONTENT 2 SOLO MOSTRAR SI ES EL PERFIL DEL USUARIO AUTH-->
                    <div class="tab-pane fade pr-5 mr-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="pr-5 mr-5">
                                <h2>Update your info</h2>
                                {{ u_form|crispy}}
                                {{ p_form|crispy}}
                            </fieldset>
                            <button type="submit" class="btn btn-primary"><span>Update</span></button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- USER INFO CARD -->
            <div class="col-4 mt-2 pl-5">
                <div class="card" style="width: 18rem;">
                    <img src="{{ requested_user.profile.image.url }}" class="img-thumbnail" class="card-img-top">
                    <div class="card-body">
                        <h1 class="card-title titulo">{{ requested_user.username }}</h1>
                        <p class="card-text">{{ requested_user.email }}</p>
                        {% if user.username == requested_user.username %}
                        <a href="{% url 'create-post' %}" class="btn btn-primary px-5 mx-3">Create a Post</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}