{% extends 'usuario/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <h2>Register</h2>
            {{ form|crispy}}
        </fieldset>
        <button type="submit"><span class="boton-texto">Register</span></button>
    </form>
    <small class="text-muted">
        Already have an account? <a href="{% url 'login' %}" class="link">Log in</a>
    </small>
{% endblock %}