{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <!-- Fuente Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap" rel="stylesheet"> 
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    
    <!-- Titulo -->
    <h1 class="titulo">Foroverflow</h1>

    <!-- Menú desplegable -->


</body>
</html>