{% extends 'foro/base.html' %}

{% block title %}
    Foroverlow
{% endblock %}

{% block username %}
    {{ user }}
{% endblock %}

{% block content %}

    <main role="main" class="container">

        <!-- ENCABEZADO FORO -->
        <div class="container mx-0 px-0 my-5">
            <div class="row border-bottom mx-0 px-0 my-5">
                <div class="col-md-auto mb-2">
                    <img class="rounded-circle img-thumbnail imagen" src="{{ post.id_foro.foto_foro.url }}" alt="">
                </div>
                <div class="row mx-0 px-0 my-5">
                    <div class="col-md-auto mb-2 pl-0 pr-2">
                        <h1 class="titulo">{{ post.id_foro }}</h1>
                    </div>
                    <div class="col-md-auto mb-2 px-0">
                        <h1 class="titulo">Forum</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <!-- SECCION DE POSTS -->
            <div class="col-md-8">
                <!-- POST DETAIL -->
                <article class="media content-section">
                <!-- <img class="rounded-circle article-img" src="{{ post.id_foro.foto_foro.url }}"> -->
                <div class="media-body">
                    <div class="container article-metadata">
                        <div class="row">
                            <div class="col-md-auto p-0">
                                <a class="" href="#"> f/{{ post.id_foro }}</a>
                            </div>
                            <div class="col-md-auto p-0">
                                <span class="dot mx-1">
                                    •
                                </span>
                            </div>
                            <div class="col-md-auto p-0">
                                Posted by 
                            </div>
                            <div class="col-md-auto p-0">
                                <a class="ml-1" href="#">u/{{ post.id_usuario }}</a>
                            </div>
                        </div>
                    </div>
                    <h2 class="article-title">{{ post.titulo_post }}</h2>
                    <p class="article-content">{{ post.contenido_post }}</p>
                </div>
                </article>

            </div>
            <!-- COLUMNA DERECHA -->
            <div class="col-4 pl-5">
                <div class="card" style="width: 20rem;">
                    <!-- <img src="{{ user.profile.image.url }}" class="img-thumbnail" class="card-img-top"> -->
                    <div class="card-body">
                        <h1 class="card-title titulo">About community</h1>
                        <p class="card-text">{{ post.id_foro.descripcion_foro }}</p>
                        <p class="card-text text-muted">Community created on: {{ post.id_foro.fecha_creacion }}</p>
                        <a href="#" class="btn btn-primary px-5 mr-5 ml-4 mt-4">Create a Post</a>
                    </div>
                </div>
            </div>
        </div>
        

    </main>

{% endblock %}